/* styles.css */

* {
	font-family: Arial;
}

html {
	background-color: goldenrod;
	background-image: linear-gradient(goldenrod, forestgreen);
}


h1 {
	color: red;
	font-size: 220px ;
	letter-spacing: 20px:
}  
